$text-color-main: #cccccc;
$text-color-main-darker: #777777;
$text-color-main-darkest: #555555;
$text-color-green: #7cc679;
$title-color-white: #fff;
$button-color-green: #7cc576;
body {
    background-color: antiquewhite;

    section {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    ul, li {
        list-style: none;
    }

}

.upperLetters {
    text-transform: uppercase;
}
.greenButton {
    background-color: $button-color-green;
    color: #ffffff;
    width: 170px;
    height: 60px;
    border: 1px solid #7cc576;
    border-radius: 25px 25px 30px 30px;
    font-size: 14px;
}

.sectionTitle {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    margin: 130px 0 5px 0;
}

.titleInforamtion {
    text-align: center;
    color: $text-color-main-darker;
    margin: 10px 0 0 0;
}
.wrapper {
    max-width: 1400px;
    min-width: 900px;
    height: auto;
    background-color: white;
    margin: 0 auto;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 300px;
        margin: 0 0 0 100px;
        padding: 5px;

        p{
            color: $text-color-main-darkest;
            font-size: 26px;
            text-transform: uppercase;
        }

        img {
            margin: 0 20px 0 0;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        height:  50px;
        margin: 0 20px 0 0 0;
            a {
                color: $text-color-main-darker;
                text-transform: uppercase;
        }
    }


};

.section1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 530px;
    background-color:black;
    position: relative;

    h1 {
        color: $text-color-main;
        margin: 120px 0 0 0;
        width: 500px;
        font-size: 44px;
        text-align: center;
    }

    p {
        color: $text-color-main-darker;
        margin: 45px 0 60px 0;
    }

    button {

    }

}

///Opacity of background image

/*.section1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}*/


.section2 {
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    .sectionServices {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 80%;
        margin: 0 0 0 0;


        article {
            width: 270px;
            height: 200px;
            text-align: center;
            margin: 50px 0 0 0;
        }
    }
}

.section3 {
    height: 500px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    background: url(../images/gear.png) no-repeat left;

    article {
        width: 70%;
        background: url(../images/background2.jpg) no-repeat 0 0;
        background-size: cover;
        color: $text-color-main-darker;
        padding: 0 0 0 0;
        h2 {
            color: $title-color-white;
            text-transform: uppercase;
            margin: 50px 0 0 60px;
            span {
                color: $button-color-green;
            }


        }

        p{
            margin: 50px 0 0 60px;
        }

        ul {
            list-style: none;
            margin: 50px 0 50px 60px;
            li {

                background: url(../images/footerIcons1.png) no-repeat 0 0;
                margin: 20px 0 0 -35px ;
                padding: 0 0 0 35px;
            }

        }

        button {
            margin: 0 0 0 60px;
        }

    }
}

.section4 {
        height: 800px;
        background: url(../images/latestProjectTablet.png) no-repeat right center;
    article {

        width: 430px;
        margin: 100px 0 0 220px;
        // need to find out how to align in flex display

        ul {
            // Need to remove this code and change to flex display
            margin: 0 0 0 -40px;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 0 20px 0;

                img {
                    width: 60px;
                    height: 60px;
                    margin: 0 20px 0 0;

                }

                span {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 0 0 0 0;

                    h5 {
                        margin: 0;
                    }

                    p{
                         margin: 0;
                    }
                }
            }
        }
    }

}

.section5 {
    height: 800px;
    box-sizing: border-box;
    background-color: aqua;
    padding: 30px 0 0 0;

    div {

        display: flex;
        justify-content: space-around;
        margin: 100px 0 0 0;

        article {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 0 0 0;

            img {

            }

            h5 {

            }

            p {

            }

        }

    }

}

.section6 {

    height: 845px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    p {
        margin: 0 0 140px 0;
    }

    article {
        width: 560px;
        height: 110px;

        .quote {
            color:$text-color-main-darkest;
            margin: 0 0 0 0;
        }

        .quoteAuthor {
            color: $button-color-green;
            margin: 10px 0 0 0;
        }
    }

    .rightArticle {
        align-self: flex-end;
        margin: 0 300px 60px 0;
    }

    .leftArticle {
        align-self: flex-start;
        margin: 60px 0 0 300px;
    }


}

.section7 {
    height: 240px;
    background-color: $button-color-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h1 {
        color: $title-color-white;
        text-transform: uppercase;
    }
    
    a {
        
        width: 184px;
        height: 50px;
        border: solid 3px $title-color-white;
        margin: 50px 0 0 0;
        text-align: center;
        
        span {
            margin: 50px 0 0 0;
            
        }
    }
}

.section8 {
    min-height: 160px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    a {
        height: 40px;
        width: auto;
        margin: 0 10px;
        
        img {
            
            
        }
    }
    
}

.section9 {
    height: 365px;
    background-color: black;
    color:white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    article {
        width: 325px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        h4 {
            
        }
        
        ul {
            
            li{
                
                
                
                img {
                    width: 25/325 *100%;
                    height: auto;
                    margin: 0 10px 0 0;
                    float: left;   
                }
                
                p {
                    width: 200/325 *100%;
                
                }
            }
            
        }
        
        
    }
    
    
}

.section10 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .copyrights {
        margin 0 500px 0 0;
    }
    
    a {
        margin: 5px;
    }
}












































